// This file must be theme agnostic

body {
    // not sure if this is a good idea
    // but it fixes a lot of things
    word-wrap: break-word;
    word-break: break-word;
}

// fixes broken lists in prosemirror
li>p {
    margin-bottom: 0 !important;
}

.post-preview-3-lines {
    max-height: 3 * $line-height-base * 1em;
    overflow: hidden;
}

.post-preview-4-lines {
    max-height: 4 * $line-height-base * 1em;
    overflow: hidden;
}

// Gradient at the end of post previews
.post-preview-card::after {
    background: linear-gradient(to right, #00000000, $card-bg);
    content: '\200C';
    position: absolute;
    right: $card-spacer-x;
    bottom: $card-spacer-y;
    height: $line-height-base * 1em;
    width: 25%;
}

.post-preview-5-lines {
    max-height: 5 * $line-height-base * 1em;
    overflow: hidden;
}

.post-preview-lg-default::after {
    background: linear-gradient(to right, #00000000, var(--bs-body-bg));
    content: '\200C';
    position: absolute;
    right: 0;
    bottom: 0;
    height: $line-height-base * 1em;
    width: 25%;
}

.ProseMirror {
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
}

.prosemirror-editor {
    outline: 0;
    border: 0;
    padding: $input-padding-y $input-padding-x;
}

.editor-toolbar input:disabled+label,
.toolbar-button,
.toolbar-button:disabled,
.toolbar-button:disabled>input {
    background-color: rgba(var(--bs-tertiary-bg-rgb));
    border-color: var(--bs-border-color-translucent);
    color: var(--bs-body-color);
    min-width: 32px;
}

// Focus class for tags div (copied from bootstrap)
// makes the div highlight like an input on focus
.input-container:focus-within {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;

    @if $enable-shadows {
        @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    }

    @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: $input-focus-box-shadow;
    }
}

.remove-tag-icon:hover {
    color: $danger;
}

@keyframes alert-animation {
    from {
        transform: translate(-50%, -100%);
    }

    to {
        transform: translate(-50%, 35px);
    }
}

.logout-dropdown-item:hover,
.logout-dropdown-item:focus {
    background-color: $danger;
}

// Better caret after dropdowns
.dropdown-toggle::after {
    vertical-align: middle;
}