@import "./minty/styles.scss";

.post-preview {
    max-height: 3 * $line-height-base * 1em;
    overflow: hidden;
}

// Gradient at the end of post previews
.post-preview::after {
    background: linear-gradient(to right, #00000000, $card-bg);
    content: '\200C';
    position: absolute;
    right: $card-spacer-x;
    bottom: $card-spacer-y;
    height: $line-height-base * 1em;
    width: 25%;
}

.prosemirror-editor {
    outline: 0;
    border: 0;
    padding: $input-padding-y $input-padding-x;
}

.editor-toolbar input:disabled+label,
.toolbar-button,
.toolbar-button:disabled,
.toolbar-button:disabled>input {
    background-color: rgba(var(--bs-tertiary-bg-rgb));
    border-color: var(--bs-border-color-translucent);
    color: var(--bs-body-color);
    min-width: 32px;
}

// Focus class for tags div (copied from bootstrap)
// makes the div highlight like an input on focus
.input-container:focus-within {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;

    @if $enable-shadows {
        @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    }

    @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: $input-focus-box-shadow;
    }
}

.remove-tag-icon:hover {
    color: $danger;
}

// TODO better Y amount, only good if alert only has one line
@keyframes alert-animation {
    from {
        transform: translate(-50%, -100%);
    }

    to {
        transform: translate(-50%, 125%);
    }
}

.logout-dropdown-item:hover,
.logout-dropdown-item:focus {
    background-color: $danger;
}

// Better caret after dropdowns
.dropdown-toggle::after {
    vertical-align: middle;
}