@import "./minty/styles.scss";

.post-preview {
    max-height: 3 * $line-height-base * 1em;
    overflow: hidden;
}

// Gradient at the end of post previews
.post-preview::after {
    background: linear-gradient(to right, #00000000, $card-bg);
    content: '\200C';
    position: absolute;
    right: $card-spacer-x;
    bottom: $card-spacer-y;
    height: $line-height-base * 1em;
    width: 25%;
}

// Focus class for tags div (copied from bootstrap)
.tags-input-div:focus-within {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;

    @if $enable-shadows {
        @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    }

    @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: $input-focus-box-shadow;
    }
}

.remove-tag-icon:hover {
    color: $danger;
}

@keyframes alert-animation {
    from {
        top: 0 // TODO not great, make it better
    }

    to {
        top: 100px;
        transform: translateY(-250px);
    }
}